* {
  box-sizing: border-box;
}

.flexContaner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #232323;
  border: solid #484848 1px;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.buttonContaner {
  text-align: center;
}
.flex4Scroll {
  display: flex;
  flex-direction: row;
}

.button {
  width: 200px;
  height: 70px;
  color: black;
  background: skyblue;
  border: none;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(116, 180, 205);
}

.selectPCont {
  display: flex;
  flex-direction: row;
}

.selectedButton {
  font-weight: 700;
}

.preloaderCont {
  display: flex;
  justify-content: center;
}

.preloader {
  width: 100px;
}
